img{
    max-width: 100%;
    height: auto;
}

.visually-hidden {
clip: rect(0 0 0 0);
clip-path: inset(50%);
height: 1px;
overflow: hidden;
position: absolute;
white-space: nowrap;
width: 1px;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
}

.section-title{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

caption{
    font-size: 2rem;
    font-weight: 600;
    text-align: left;
}

.site-title img{
    display: block;
}

button .menu-trigger{
    margin-bottom: 1rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav a{
    color: black;
    text-decoration: none;
    font-size: 1.25rem;
    display: block;
    padding: .5rem;
}

header nav a:hover{
    background-color: hotpink;
}

.menu-trigger{
    color: white;
    background-color: black;
    border: none;
    font-size: 1.25rem;
    padding: .25rem .5rem;
}

.menu-trigger:hover{
    background-color: hotpink;
    cursor: pointer;
}

.header-nav-wrapper{
    height: 1px;
    overflow: hidden;
    transition: height .5s;
}

.menu-active .header-nav-wrapper{
    height: 280px;
}

.menu-main{
    margin-bottom: 1rem;
}

.menu-social ul{
    display: flex;
    justify-content: center;
    gap: .5rem;
}

footer nav a{
    color: white;
    display: block;
    background-color: black;
    text-decoration: none;
    padding: .5rem 2%;
}

footer nav a:hover{
    background-color: hotpink;
}

footer nav ul{
    display: flex;
    text-align: center;
}

footer nav li{
    flex-grow: 1;
}

footer .fa-solid{
    display: block;
}

header{
    text-align: center;
    padding: 1rem 2%;
}

.section-meal{
    padding: 1rem 2%;
    background-image: url("images/breakfast.jpg");
    background-size: cover;
    background-attachment: fixed;
    display: grid;
    grid-gap: 1rem;

}

.lunch{
    background-image: url("images/lunch.jpg");
}

.dinner{
    background-image: url("images/dinner.jpg");
}

.table-wrapper{
    background-color: rgba(0, 0, 0, .7);
    padding: 1rem;
}

.section-meal table{
    width: 100%;
    color: white;
    border-collapse: collapse;
}

.section-meal td{
    padding-top: .5rem;
    border-bottom: 10px solid rgba(255, 255, 255, .2);
}

.section-meal tr td:nth-of-type(2){
    text-align: left;
    width: 60px;
}

.section-meal .section-title{
    background-color: hotpink;
    color: white;
    padding: .75rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}

/* .section-meal tr td:nth-of-type(1){
    width: 95%;
} */

.section-staff{
    background-image: linear-gradient(black,hsl(240,20%,40%),black);
    color: #fff;
    text-align: center;
    padding: 0 2%;
    display: grid;
    grid-gap: 1rem;
}

.section-staff .section-title{
    margin: 0;
    padding: .5rem 2%;
}

.section-staff img{
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    display: block;
}

.staff-member-image-name-wrapper{
    position: relative;
}

.staff-member-image-name-wrapper .staff-member-name{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.staff-member-name{
    font-size: 1.25rem;
}

.staff-member-description{
    background-color: black;
    padding: .25rem 2%;
}

.section-location{
    background-color: #eef;
    text-align: center;
    padding: 1rem 2% 0 2%;
}

.location{
    padding-bottom: 1rem;
}

.section-location h3{
    margin: 0;
}

.section-location .section-title{
    margin-bottom: 0;
}


.blog-inner-wrapper{
    display: grid;
    gap: 1rem;
    padding: 1rem 5%;

    grid-auto-rows: auto auto auto;

    @media screen and (min-width:750px) {
    grid-template-columns: repeat(2,1fr);
    }
    @media screen and (min-width:1100px) {
    grid-template-columns: repeat(3,1fr);
    }
}

.blog article{
    grid-row: span 3;
    display: grid;
    grid-template-columns: 10% 1fr 10%;

    /* grid-template-rows: subgrid; */
}

.blog img{
    grid-column: 1/-1;
    grid-row: 1/3;
}

.blog-article-title{
    grid-column: 2;
    grid-row: 2;
    background-color: #fff;
    margin: 0;
}

.blog p{
    grid-column: 2;

}

.blog-article-title, .blog p{
    padding: .5rem;
}

@media screen and (min-width:620px) {
    .section-staff{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3,1fr);
}

.section-staff .section-title{
    grid-column: 1/-1;
}
}

@media screen and (min-width:800px) {
.section-meal{
    display: grid;
    grid-template-columns: .5fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
}

.section-meal .section-title{
    grid-column: 1;
    grid-row: span 2;
    margin: 0;
    align-self: center;
}
.section-meal .table-wrapper:nth-of-type(1){
    grid-column: 2;
    grid-row: span 2;
}

.section-meal .table-wrapper:nth-of-type(2){
    grid-column: 3;
    grid-row: 1;
}

.section-meal .table-wrapper:nth-of-type(3){
    grid-column: 3;
    grid-row: 2;
}

.menu-trigger{
    display: none;
}

.header-nav-wrapper{
    height: auto;
}

.site-header{
    display: grid;
    grid-template-columns: minmax(200px,400px) 1fr;
    grid-gap: 2rem;
    align-items: center;
}

.menu-main ul, .menu-social ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

.menu-main{
    margin-bottom: 0;
}

}

@media screen and (min-width:1200px) {
    .site-header{
        grid-template-columns: 1fr 2fr;
        
    }

    .header-nav-wrapper{
        display: flex;
        justify-content: flex-end;
        gap: 3rem;
    }
}